In [1]:
# importer les packages
import numpy as np
import matplotlib 
import pandas as pd
import duckdb as db

In [18]:
# importer les bases de donn√©es

orders = pd.read_csv("C:/Users/Moi/sql_challenge/database/orders.csv")

order_items = pd.read_csv("C:/Users/Moi/sql_challenge/database/order_items.csv")

products = pd.read_csv("C:/Users/Moi/sql_challenge/database/products.csv")

orders.head(3)

,order_id,user_id,status,gender,created_at,returned_at,shipped_at,delivered_at,num_of_item
0,8,5,Cancelled,F,2022-10-20 10:03:00+00:00,NaN,NaN,NaN,3
1,60,44,Cancelled,F,2023-01-20 02:12:00+00:00,NaN,NaN,NaN,1
2,64,46,Cancelled,F,2021-12-06 09:11:00+00:00,NaN,NaN,NaN,1

In [20]:
products.head(3)

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,13842,2.51875,Accessories,Low Profile Dyed Cotton Twill Cap - Navy W39S55D,MG,6.25,Women,EBD58B8A3F1D72F4206201DA62FB1204,1
1,13928,2.33835,Accessories,Low Profile Dyed Cotton Twill Cap - Putty W39S55D,MG,5.95,Women,2EAC42424D12436BDD6A5B8A88480CC3,1
2,14115,4.87956,Accessories,Enzyme Regular Solid Army Caps-Black W35S45D,MG,10.99,Women,EE364229B2791D1EF9355708EFF0BA34,1

In [6]:
order_items.head(3)

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,152013,104663,83582,14235,410368,Cancelled,2023-05-07 06:08:40+00:00,NaN,NaN,NaN,0.02
1,40993,28204,22551,14235,110590,Complete,2023-03-14 03:47:21+00:00,2023-03-15 22:57:00+00:00,2023-03-18 01:08:00+00:00,NaN,0.02
2,51224,35223,28215,14235,138236,Complete,2023-12-05 13:25:30+00:00,2023-12-06 01:20:00+00:00,2023-12-10 10:04:00+00:00,NaN,0.02

In [12]:
# Une requ√™te qui attribue un num√©ro de rang √† chaque √©l√©ment de commande en fonction 
# du prix de vente d√©croissant et les ordonne par prix de vente d√©croissant.

query = """ 
SELECT
   *,
    ROW_NUMBER() OVER (ORDER BY sale_price DESC) AS price_rank
FROM
    order_items
ORDER BY
    sale_price DESC;


"""
db.sql(query)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ   id   ‚îÇ order_id ‚îÇ user_id ‚îÇ product_id ‚îÇ ‚Ä¶ ‚îÇ     returned_at      ‚îÇ     sale_price     ‚îÇ price_rank ‚îÇ
‚îÇ int64  ‚îÇ  int64   ‚îÇ  int64  ‚îÇ   int64    ‚îÇ   ‚îÇ       varchar        ‚îÇ       double       ‚îÇ   int64    ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ 114349 ‚îÇ    78780 ‚îÇ   62841 ‚îÇ      23546 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          1 ‚îÇ
‚îÇ 149459 ‚îÇ   102920 ‚îÇ   82176 ‚îÇ      23546 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          2 ‚îÇ
‚îÇ  37188 ‚îÇ    25610 ‚îÇ   20434 ‚îÇ      24447 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          3 ‚îÇ
‚îÇ  39329 ‚îÇ    27087 ‚îÇ   21671 ‚îÇ      24447 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          4 ‚îÇ
‚îÇ  41201 ‚îÇ    28344 ‚îÇ   22656 ‚îÇ      23546 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          5 ‚îÇ
‚îÇ  35807 ‚îÇ    24643 ‚îÇ   19650 ‚îÇ      24447 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          6 ‚îÇ
‚îÇ  51581 ‚îÇ    35450 ‚îÇ   28392 ‚îÇ      23546 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          7 ‚îÇ
‚îÇ   9674 ‚îÇ     6679 ‚îÇ    5325 ‚îÇ      24447 ‚îÇ ‚Ä¶ ‚îÇ 2020-12-30 22:43:0‚Ä¶  ‚îÇ              999.0 ‚îÇ          8 ‚îÇ
‚îÇ   7801 ‚îÇ     5416 ‚îÇ    4283 ‚îÇ      24447 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ          9 ‚îÇ
‚îÇ  62986 ‚îÇ    43364 ‚îÇ   34691 ‚îÇ      23546 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              999.0 ‚îÇ         10 ‚îÇ
‚îÇ    ¬∑   ‚îÇ      ¬∑   ‚îÇ     ¬∑   ‚îÇ         ¬∑  ‚îÇ ¬∑ ‚îÇ  ¬∑                   ‚îÇ                ¬∑   ‚îÇ          ¬∑ ‚îÇ
‚îÇ    ¬∑   ‚îÇ      ¬∑   ‚îÇ     ¬∑   ‚îÇ         ¬∑  ‚îÇ ¬∑ ‚îÇ  ¬∑                   ‚îÇ                ¬∑   ‚îÇ          ¬∑ ‚îÇ
‚îÇ    ¬∑   ‚îÇ      ¬∑   ‚îÇ     ¬∑   ‚îÇ         ¬∑  ‚îÇ ¬∑ ‚îÇ  ¬∑                   ‚îÇ                ¬∑   ‚îÇ          ¬∑ ‚îÇ
‚îÇ 164134 ‚îÇ   113056 ‚îÇ   90299 ‚îÇ       4504 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9991 ‚îÇ
‚îÇ 167978 ‚îÇ   115696 ‚îÇ   92408 ‚îÇ       4934 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9992 ‚îÇ
‚îÇ 168465 ‚îÇ   116029 ‚îÇ   92677 ‚îÇ      21307 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9993 ‚îÇ
‚îÇ 169745 ‚îÇ   116913 ‚îÇ   93388 ‚îÇ      21124 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9994 ‚îÇ
‚îÇ 170123 ‚îÇ   117165 ‚îÇ   93601 ‚îÇ      20982 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9995 ‚îÇ
‚îÇ 172412 ‚îÇ   118704 ‚îÇ   94817 ‚îÇ       5010 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9996 ‚îÇ
‚îÇ 174908 ‚îÇ   120449 ‚îÇ   96136 ‚îÇ       8039 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9997 ‚îÇ
‚îÇ 178055 ‚îÇ   122642 ‚îÇ   97894 ‚îÇ       6857 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9998 ‚îÇ
‚îÇ 181128 ‚îÇ   124782 ‚îÇ   99642 ‚îÇ       3182 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ              169.0 ‚îÇ       9999 ‚îÇ
‚îÇ  16163 ‚îÇ    11180 ‚îÇ    8948 ‚îÇ      14810 ‚îÇ ‚Ä¶ ‚îÇ NULL                 ‚îÇ 168.97999572753906 ‚îÇ      10000 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ ? rows (>9999 rows, 20 shown)                                                    12 columns (7 shown) ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [36]:
# Une requ√™te qui compte le nombre de commandes par utilisateur, attribue un num√©ro de rang aux utilisateurs en fonction 
# du nombre de commandes d√©croissant
query = """ 
SELECT
    user_id,
    COUNT(order_id) AS num_orders,
    ROW_NUMBER() OVER (ORDER BY COUNT(order_id) DESC) AS user_order_rank
FROM
    order_items
GROUP BY
    user_id




"""
db.sql(query)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ user_id ‚îÇ num_orders ‚îÇ user_order_rank ‚îÇ
‚îÇ  int64  ‚îÇ   int64    ‚îÇ      int64      ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ   32996 ‚îÇ         14 ‚îÇ               1 ‚îÇ
‚îÇ   80546 ‚îÇ         13 ‚îÇ               2 ‚îÇ
‚îÇ   80952 ‚îÇ         13 ‚îÇ               3 ‚îÇ
‚îÇ   52039 ‚îÇ         12 ‚îÇ               4 ‚îÇ
‚îÇ   34249 ‚îÇ         12 ‚îÇ               5 ‚îÇ
‚îÇ   21909 ‚îÇ         12 ‚îÇ               6 ‚îÇ
‚îÇ   40896 ‚îÇ         12 ‚îÇ               7 ‚îÇ
‚îÇ   98947 ‚îÇ         12 ‚îÇ               8 ‚îÇ
‚îÇ   46712 ‚îÇ         12 ‚îÇ               9 ‚îÇ
‚îÇ   19415 ‚îÇ         12 ‚îÇ              10 ‚îÇ
‚îÇ     ¬∑   ‚îÇ          ¬∑ ‚îÇ               ¬∑ ‚îÇ
‚îÇ     ¬∑   ‚îÇ          ¬∑ ‚îÇ               ¬∑ ‚îÇ
‚îÇ     ¬∑   ‚îÇ          ¬∑ ‚îÇ               ¬∑ ‚îÇ
‚îÇ   25920 ‚îÇ          4 ‚îÇ            9991 ‚îÇ
‚îÇ   29074 ‚îÇ          4 ‚îÇ            9992 ‚îÇ
‚îÇ   43632 ‚îÇ          4 ‚îÇ            9993 ‚îÇ
‚îÇ   48287 ‚îÇ          4 ‚îÇ            9994 ‚îÇ
‚îÇ   50623 ‚îÇ          4 ‚îÇ            9995 ‚îÇ
‚îÇ   58591 ‚îÇ          4 ‚îÇ            9996 ‚îÇ
‚îÇ   78834 ‚îÇ          4 ‚îÇ            9997 ‚îÇ
‚îÇ   83754 ‚îÇ          4 ‚îÇ            9998 ‚îÇ
‚îÇ   81505 ‚îÇ          4 ‚îÇ            9999 ‚îÇ
‚îÇ   71368 ‚îÇ          4 ‚îÇ           10000 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ     ? rows (>9999 rows, 20 shown)      ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [27]:
#Cette requ√™te  attribue un num√©ro de rang √† chaque produit dans chaque cat√©gorie, en les ordonnant par prix de d√©tail d√©croissant 
# dans chaque cat√©gorie. 
query = """ 
SELECT
    id AS product_id,
    category,
    name,
    brand,
    retail_price,
    ROW_NUMBER() OVER (PARTITION BY category ORDER BY retail_price DESC) AS price_rank_per_category
FROM
    products;


"""
db.sql(query)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ product_id ‚îÇ category ‚îÇ         name         ‚îÇ         brand          ‚îÇ    retail_price    ‚îÇ price_rank_per_category ‚îÇ
‚îÇ   int64    ‚îÇ varchar  ‚îÇ       varchar        ‚îÇ        varchar         ‚îÇ       double       ‚îÇ          int64          ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ      15486 ‚îÇ Plus     ‚îÇ NIKE WOMEN'S PRO C‚Ä¶  ‚îÇ Nike                   ‚îÇ              903.0 ‚îÇ                       1 ‚îÇ
‚îÇ      15956 ‚îÇ Plus     ‚îÇ BGSD Women's New Z‚Ä¶  ‚îÇ BGSD                   ‚îÇ   319.989990234375 ‚îÇ                       2 ‚îÇ
‚îÇ      15354 ‚îÇ Plus     ‚îÇ Bali Women's One S‚Ä¶  ‚îÇ Bali                   ‚îÇ  316.6000061035156 ‚îÇ                       3 ‚îÇ
‚îÇ      15898 ‚îÇ Plus     ‚îÇ Oakley Men's Racin‚Ä¶  ‚îÇ Oakley                 ‚îÇ              280.0 ‚îÇ                       4 ‚îÇ
‚îÇ      15512 ‚îÇ Plus     ‚îÇ DOLCE & GABBANA DG‚Ä¶  ‚îÇ Dolce & Gabbana        ‚îÇ              243.0 ‚îÇ                       5 ‚îÇ
‚îÇ      15677 ‚îÇ Plus     ‚îÇ Sunglasses Gucci 4‚Ä¶  ‚îÇ Gucci                  ‚îÇ 239.94999694824216 ‚îÇ                       6 ‚îÇ
‚îÇ      15333 ‚îÇ Plus     ‚îÇ Prada 1M0506 Saffi‚Ä¶  ‚îÇ Prada                  ‚îÇ              209.0 ‚îÇ                       7 ‚îÇ
‚îÇ      15566 ‚îÇ Plus     ‚îÇ Oakley Pit Bull Su‚Ä¶  ‚îÇ Oakley                 ‚îÇ              200.0 ‚îÇ                       8 ‚îÇ
‚îÇ      15699 ‚îÇ Plus     ‚îÇ Kate Spade New Yor‚Ä¶  ‚îÇ Kate Spade             ‚îÇ              198.0 ‚îÇ                       9 ‚îÇ
‚îÇ      15278 ‚îÇ Plus     ‚îÇ Ray-Ban RB3016 Cla‚Ä¶  ‚îÇ Ray-Ban                ‚îÇ 194.94999694824216 ‚îÇ                      10 ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑       ‚îÇ          ¬∑           ‚îÇ   ¬∑                    ‚îÇ          ¬∑         ‚îÇ                       ¬∑ ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑       ‚îÇ          ¬∑           ‚îÇ   ¬∑                    ‚îÇ          ¬∑         ‚îÇ                       ¬∑ ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑       ‚îÇ          ¬∑           ‚îÇ   ¬∑                    ‚îÇ          ¬∑         ‚îÇ                       ¬∑ ‚îÇ
‚îÇ      27444 ‚îÇ Swim     ‚îÇ Speedo Men's Poly ‚Ä¶  ‚îÇ Speedo                 ‚îÇ  34.15999984741211 ‚îÇ                    1369 ‚îÇ
‚îÇ      27926 ‚îÇ Swim     ‚îÇ N2N Bodywear A1 - ‚Ä¶  ‚îÇ N2N Bodywear           ‚îÇ               34.0 ‚îÇ                    1370 ‚îÇ
‚îÇ      13482 ‚îÇ Swim     ‚îÇ La Palapa Chiffons‚Ä¶  ‚îÇ La Palapa              ‚îÇ               34.0 ‚îÇ                    1371 ‚îÇ
‚îÇ      13273 ‚îÇ Swim     ‚îÇ Tie Front Kimono w‚Ä¶  ‚îÇ Blue Sky Swimwear      ‚îÇ               34.0 ‚îÇ                    1372 ‚îÇ
‚îÇ      27462 ‚îÇ Swim     ‚îÇ Speedo Men's Shore‚Ä¶  ‚îÇ Speedo                 ‚îÇ               34.0 ‚îÇ                    1373 ‚îÇ
‚îÇ      28173 ‚îÇ Swim     ‚îÇ Texas Tech Red Rai‚Ä¶  ‚îÇ Collegiate Surf and ‚Ä¶  ‚îÇ               34.0 ‚îÇ                    1374 ‚îÇ
‚îÇ      12739 ‚îÇ Swim     ‚îÇ O'Neill Women's At‚Ä¶  ‚îÇ O'Neill                ‚îÇ               34.0 ‚îÇ                    1375 ‚îÇ
‚îÇ      12926 ‚îÇ Swim     ‚îÇ Body Glove Juniors‚Ä¶  ‚îÇ Body Glove             ‚îÇ               34.0 ‚îÇ                    1376 ‚îÇ
‚îÇ      12973 ‚îÇ Swim     ‚îÇ Body Glove Juniors‚Ä¶  ‚îÇ Body Glove             ‚îÇ               34.0 ‚îÇ                    1377 ‚îÇ
‚îÇ      13201 ‚îÇ Swim     ‚îÇ Body Glove Juniors‚Ä¶  ‚îÇ Body Glove             ‚îÇ               34.0 ‚îÇ                    1378 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ ? rows (>9999 rows, 20 shown)                                                                              6 columns ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [35]:
# Cette requ√™te attribue un num√©ro de rang √† chaque produit dans chaque cat√©gorie.
query = """ 
SELECT
    id AS product_id,
    category,
    name,
    brand,
    retail_price,
    ROW_NUMBER() OVER (PARTITION BY category) AS price_rank_per_category
FROM
    products;

"""
db.sql(query)

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ product_id ‚îÇ      category       ‚îÇ         name         ‚îÇ ‚Ä¶ ‚îÇ    retail_price    ‚îÇ price_rank_per_cat‚Ä¶  ‚îÇ
‚îÇ   int64    ‚îÇ       varchar       ‚îÇ       varchar        ‚îÇ   ‚îÇ       double       ‚îÇ        int64         ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ      15512 ‚îÇ Plus                ‚îÇ DOLCE & GABBANA DG‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ              243.0 ‚îÇ                    1 ‚îÇ
‚îÇ      15426 ‚îÇ Plus                ‚îÇ Gold Toe Women's F‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ               15.0 ‚îÇ                    2 ‚îÇ
‚îÇ      15408 ‚îÇ Plus                ‚îÇ Shadowline Short S‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ               36.0 ‚îÇ                    3 ‚îÇ
‚îÇ      15460 ‚îÇ Plus                ‚îÇ Shadowline Silhoue‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ              104.0 ‚îÇ                    4 ‚îÇ
‚îÇ      15448 ‚îÇ Plus                ‚îÇ ASICS Unisex Adult‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ               22.0 ‚îÇ                    5 ‚îÇ
‚îÇ      15273 ‚îÇ Plus                ‚îÇ MUNDI Big Fat Flap‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 21.989999771118164 ‚îÇ                    6 ‚îÇ
‚îÇ      15429 ‚îÇ Plus                ‚îÇ Mundi Big Fat Wallet ‚îÇ ‚Ä¶ ‚îÇ 21.989999771118164 ‚îÇ                    7 ‚îÇ
‚îÇ      15797 ‚îÇ Plus                ‚îÇ MUNDI Big Fat Wallet ‚îÇ ‚Ä¶ ‚îÇ 19.989999771118164 ‚îÇ                    8 ‚îÇ
‚îÇ      15811 ‚îÇ Plus                ‚îÇ SPANX√Ç¬Æ - In-Power‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ               38.0 ‚îÇ                    9 ‚îÇ
‚îÇ      15577 ‚îÇ Plus                ‚îÇ Alki'i Braided Neo‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ  9.989999771118164 ‚îÇ                   10 ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑                  ‚îÇ          ¬∑           ‚îÇ ¬∑ ‚îÇ                 ¬∑  ‚îÇ                    ¬∑ ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑                  ‚îÇ          ¬∑           ‚îÇ ¬∑ ‚îÇ                 ¬∑  ‚îÇ                    ¬∑ ‚îÇ
‚îÇ        ¬∑   ‚îÇ  ¬∑                  ‚îÇ          ¬∑           ‚îÇ ¬∑ ‚îÇ                 ¬∑  ‚îÇ                    ¬∑ ‚îÇ
‚îÇ      20120 ‚îÇ Suits & Sport Coats ‚îÇ Hurley Men's Outer‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ               99.5 ‚îÇ                  730 ‚îÇ
‚îÇ      19903 ‚îÇ Suits & Sport Coats ‚îÇ Black Stretch Dres‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 36.180000305175774 ‚îÇ                  731 ‚îÇ
‚îÇ      20528 ‚îÇ Suits & Sport Coats ‚îÇ etnies Decker Jack‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ  79.94999694824217 ‚îÇ                  732 ‚îÇ
‚îÇ      20175 ‚îÇ Suits & Sport Coats ‚îÇ Tuxedo Vest - Soli‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ  79.94999694824217 ‚îÇ                  733 ‚îÇ
‚îÇ      20495 ‚îÇ Suits & Sport Coats ‚îÇ Howe Men's Persona‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ              199.0 ‚îÇ                  734 ‚îÇ
‚îÇ      20505 ‚îÇ Suits & Sport Coats ‚îÇ Classy Men's Gray ‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 19.989999771118164 ‚îÇ                  735 ‚îÇ
‚îÇ      20265 ‚îÇ Suits & Sport Coats ‚îÇ Howe Men's Everyth‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ  133.3300018310547 ‚îÇ                  736 ‚îÇ
‚îÇ      20246 ‚îÇ Suits & Sport Coats ‚îÇ Mantoni 2 Button M‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 209.94999694824216 ‚îÇ                  737 ‚îÇ
‚îÇ      20238 ‚îÇ Suits & Sport Coats ‚îÇ Mantoni 2 Button M‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 199.94999694824216 ‚îÇ                  738 ‚îÇ
‚îÇ      20189 ‚îÇ Suits & Sport Coats ‚îÇ Purple pattern For‚Ä¶  ‚îÇ ‚Ä¶ ‚îÇ 36.950000762939446 ‚îÇ                  739 ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ ? rows (>9999 rows, 20 shown)                                                       6 columns (5 shown) ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò